body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: thistle;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 72px;
}

a {
    color: mediumslateblue;
    font-size: 32px;
    font-weight:700;
}
.ingredients {
    text-align: center;
}
.ingredients li {
    display: inline;
    box-sizing: content-box;
    margin: 16px;
}

.steps li {
    box-sizing: content-box;
    padding: 4px;
}

.dish_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

